.cv_env
test.py
CCTV_interface.py
backend/__pycache__
backend/.env
models/data
models/runs
models/test-runs
models/test-output
models/datasets
backend/firebase-key.json
data/
datasets/
models/
runs/
test-output/
test-runs/
merged_dataset/